.game-over {
  font-family: 'Press Start 2P', cursive;
}

@media only screen and (max-width: 600px) {
  .game-over {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.large-text {
  font-size: 90px;
}

.typed {
  width: 0;
  overflow: hidden;
  animation: typing;
  white-space: nowrap;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(30, end);
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}